{% extends "layout.html" %}
{% load static %}
{% block content %}
    <div id="photo-gallery" class="container-fluid">
    <div id="grid" data-columns>
        {% for image in set.0 %}
            <div>
                <a href="http://farm{{ image.attrib.farm }}.staticflickr.com/{{ image.attrib.server }}/{{ image.attrib.id }}_{{ image.attrib.secret }}_c.jpg" class="img-lightbox">
                    <img src="http://farm{{ image.attrib.farm }}.staticflickr.com/{{ image.attrib.server }}/{{ image.attrib.id }}_{{ image.attrib.secret }}_z.jpg"/>
                </a>
            </div>
        {% endfor %}
    </div>
    </div>
    <div id="imagelightbox-loading" style="display: none;"><div></div></div>
    <div id="imagelightbox-overlay" style="display: none;"></div>
    <script src="{% static "javascripts/salvattore.min.js" %}"></script>
    <script src="{% static "javascripts/imagelightbox.min.js" %}"></script>
    <script>
        $(function(){
            $('a').imageLightbox(
                {
                    onStart: function(){ $("#imagelightbox-overlay").show(); },
                    onEnd: function(){ $("#imagelightbox-overlay").fadeOut(); },
                    onLoadStart: function(){$("#imagelightbox-loading").show();},
                    onLoadEnd: function(){$("#imagelightbox-loading").hide();}
                }
            );
        });
    </script>
{% endblock %}