{% extends "layout.html" %}
{% load static %}
{% block content %}
    <div id="gallery-container" style="margin-top: 10px">
        {% for image in set.0 %}
            <div class="item">
                <a href="http://farm{{ image.attrib.farm }}.staticflickr.com/{{ image.attrib.server }}/{{ image.attrib.id }}_{{ image.attrib.secret }}_b.jpg" class="img-lightbox">
                    <img src="http://farm{{ image.attrib.farm }}.staticflickr.com/{{ image.attrib.server }}/{{ image.attrib.id }}_{{ image.attrib.secret }}_z.jpg"/>
                </a>
            </div>
        {% endfor %}
    </div>
    <div id="imagelightbox-loading" style="display: none;"><div></div></div>
    <div id="imagelightbox-overlay" style="display: none;"></div>
    <script src="{% static "javascripts/imagelightbox.min.js" %}"></script>
    <script src="{% static "javascripts/isotope.pkgd.min.js" %}"></script>
    <script src="{% static "javascripts/imagesloaded.pkgd.min.js"%}"></script>
    <script>
        $(function(){
            var $container = $("#gallery-container").imagesLoaded(function(){
                    $container.isotope({
                    itemSelector: '.item',
                    isAnimated: false,
                });
            });

            $('a').imageLightbox(
                {
                    onStart: function(){ $("#imagelightbox-overlay").show(); },
                    onEnd: function(){ $("#imagelightbox-overlay").fadeOut(); },
                    //onLoadStart: function(){$("#imagelightbox-loading").show();},
                    //onLoadEnd: function(){$("#imagelightbox-loading").hide();}
                }
            );
        });
    </script>
{% endblock %}