{% extends "layout.html" %}
{% load static %}
{% block content %}
    <div class="content-container">
        <div id="blog-container">
            {% for image in set.0 %}
                <div class="mason-item no-border">
                    <img src="http://farm{{ image.attrib.farm }}.staticflickr.com/{{ image.attrib.server }}/{{ image.attrib.id }}_{{ image.attrib.secret }}_b.jpg"/>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="{% static "javascripts/masonry.pkgd.min.js" %}"></script>
    <script src="{% static "javascripts/imagesloaded.pkgd.min.js" %}"></script>
    <script>
    $(window).ready(function(){
        var $container = $("#blog-container");

        $container.imagesLoaded(function(){
            $container.masonry({
                columnWidth:'.mason-item',
                itemSelector: '.mason-item',
                gutter: 5
            });

            var msnry = $container.data('masonry');
        });
    })

    </script>
{% endblock %}