{% extends "layout.html" %}
{% load static %}
{% block content %}
    <script src="{% static "javascripts/jquery.adaptive-backgrounds.min.js" %}"></script>
        <div id="gallery-container">
            {% for set in sets %}
                <div class="gallery" style="background-color: {% cycle "#668284" "#493736" "#7B3B3B" "#607848" %}">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="/photography/gallery/{{ set.attrib.id }}/{{ set.0.text | slugify }}"><img class="img-responsive" src="http://farm{{ set.attrib.farm }}.static.flickr.com/{{ set.attrib.server }}/{{ set.attrib.primary }}_{{ set.attrib.secret }}_z.jpg" /></a>
                            </div>
                            <div class="col-lg-6">
                                <h1>{{ set.0.text }}</h1>
                                {% if set.1.text %}
                                    <p>{{ set.1.text }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
        </div>

    <script>

    </script>
{% endblock %}