{% extends "layout.html" %}
{% load static %}
{% block content %}
    <div class="content-container">
        <div id="blog-container">
            {% for set in sets %}
            <a href="/photography/gallery/{{ set.attrib.id }}/{{ set.0.text | slugify }}">
                <div class="mason-item">
                    <img src="http://farm{{ set.attrib.farm }}.static.flickr.com/{{ set.attrib.server }}/{{ set.attrib.primary }}_{{ set.attrib.secret }}_z.jpg"/>
                    <center><h3>{{ set.0.text }}</h3></center>

                </div>
             </a>

        {% endfor %}
        </div>
    </div>

    <script src="{% static "javascripts/masonry.pkgd.min.js" %}"></script>
    <script src="{% static "javascripts/imagesloaded.pkgd.min.js" %}"></script>
    <script>
    $(window).ready(function(){
        var $container = $("#blog-container");

        $container.imagesLoaded(function(){
            $container.masonry({
                columnWidth:'.mason-item',
                itemSelector: '.mason-item',
                gutter: 10
            });

            var msnry = $container.data('masonry');
        });
    })

    </script>
{% endblock %}