{% extends "layout.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle img-responsive" src="{% static "images/me.jpg" %}"/>
            </div>
            <div class="col-lg-8">
                <div class="text">Hello! I am a software engineer currently based in the Bay Area. When I'm not writing code on my laptop, you will find me </div>
            </div>

        </div>
    </div>
{% endblock %}