{% extends "layout.html" %}
{% load static %}
{% block content %}
    <div class="content-container" style="background-color: #FFF">
        <div id="timeline">
        </div>
    </div>
    <script type="text/javascript" src="http://cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js"></script>
    <script>
        var storyjs_jsonp_data = {{ timeline|safe }};
        createStoryJS({
            type:           'timeline',
            width:          '100%',
            height:         $(window).height(),
            start_at_end:   true,
            source:         storyjs_jsonp_data,
            embed_id:       'timeline'
        });
    </script>
{% endblock %}
