{% extends "layout.html" %}
{% load static %}
{% block content %}
    <div class="featured-post">

    </div>
    <div id="blog-container" style="margin-top: 40px;">
        {% for post in posts %}
            <div class="item">
                {{ post.content | safe }}
            </div>
        {% endfor %}
    </div>
    <script src="{% static "javascripts/isotope.pkgd.min.js" %}"></script>
    <script>
        $("#blog-container").isotope({
            itemSelector: '.item',
            isAnimated: false
        })
    </script>
{% endblock %}
