{% extends "layout.html" %}
{% load static %}
{% block content %}
    <div id="blog-container" style="padding-top: 20px;">
        {% for post in posts %}
            <div class="item">
                <div class="item-inner">
                    {{ post.content | safe }}
                    {{ post.caption | safe }}
                </div>
            </div>
        {% endfor %}
    </div>
    <script src="{% static "javascripts/isotope.pkgd.min.js" %}"></script>
    <script>
        $("#blog-container").isotope({
            itemSelector: '.item',
            isAnimated: false
        })
    </script>
{% endblock %}
