// customize bootstrap variables here:
@import "variables";
@import "bootstrap";

@media (min-width: 768px){
  .navbar{
    text-align: center;
    width: 240px;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;

    .navbar-brand{
      width: 100%;
      img{
        width: 70%;
      }
      height: 200px;
      padding-top: 60px;
    }

    .navbar-header{
      float: none;
    }
    .navbar-nav{

      float: none;
      li{
        float: none;
      }
    }
  }

  .content-container{
    margin-left: 240px;
    height: 100%;
  }

  #blog-container{
    .mason-item{
      width: 25%;
      img{
        width: 100%;
      }
    }
  }
}

@media(min-width: 768px) and (max-width: 1200px){
  #blog-container{
    .mason-item{
      width: 33%;
      img{
        width: 100%;
      }
    }
  }

  .navbar-brand{
    width: 60px;
    img{
      width: 100%;
    }
  }
}

@media(min-width: 768px) and (max-width: 900px){
  #blog-container{
    .mason-item{
      width: 50%;
      img{
        width: 100%;
      }
    }
  }
}

@media(max-width: 768px){
  body{
    padding-top: 50px;
  }

  #blog-container{
    .mason-item{
      width: 100%;
      img{
        width: 100%;
      }
    }
  }

  .navbar-brand{
    width:60px;
    img{
      width: 100%;
    }
  }
}
