// customize bootstrap variables here:
@import "variables";
@import "bootstrap";

@media (min-width: 768px){
  .navbar{
    text-align: center;
    width: 240px;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;

    .navbar-brand{
      width: 100%;
      img{
        width: 70%;
      }
      height: 200px;
      padding-top: 60px;
      margin-bottom: 20px;
    }

    .navbar-header{
      float: none;
    }
    .navbar-nav{

      float: none;
      li{
        float: none;
      }
    }
  }

  .content-container{
    margin-left: 240px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #DDDDDD;
  }

  #blog-container{
    background-color: #EFEFEF;
    .mason-item{
      width: 32%;
      img{
        width: 100%;
      }
    }
  }
}

@media(min-width: 768px) and (max-width: 1200px){
  #blog-container{
    .mason-item{
      width: 48%;
      img{
        width: 100%;
      }
    }
  }

  .navbar-brand{
    width: 60px;
    img{
      width: 100%;
    }
  }
}

@media(min-width: 768px) and (max-width: 900px){
  #blog-container{
    .mason-item{
      width: 48%;
      img{
        width: 100%;
      }
    }
  }
}

@media(max-width: 768px){
  body{
    padding-top: 50px;
  }

  #blog-container{
    .mason-item{
      width: 98%;
      img{
        width: 100%;
      }
      margin: 5px;
    }
  }

  .navbar-brand{
    width:60px;
    img{
      width: 100%;
    }
  }
}

.blog-title{
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  font-family:'Oswald', sans-serif;
  font-size: 24px;
}

iframe{
  width: 100%;
}


#blog-container{
  padding: 4px;

  .mason-item{
    margin-bottom: 10px;
    padding: 10px;

    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15),0 0 0 1px rgba(0,0,0,0.05);

    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -kthtml-transition: all .25s linear;
    transition: all .25s linear;
  }

  .mason-item:hover{

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -kthtml-transition: all .25s linear;
    transition: all .25s linear;

  }

  .no-border{
    margin-bottom: 5px;
    padding: 0px;

    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;

    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
  }
}

#imagelightbox{
  position:fixed;
  z-index: 9999;
  background-color: black;

  -webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
  -moz-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
  box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
}

#imagelightbox-overlay{
    background-color: #ffffff;
    background-color: rgba( 255, 255, 255, .9 );
    position: fixed;
    z-index: 9998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

html { height: 100%; }



